<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="nguyen_kim_shop Application Test Suite" annotations="1.5">
    <test name="Unit Tests">
        <packages>
            <package name="javadistribute.finalproject.nguyen_kim_shop"/>
        </packages>
    </test>
</suite>
