<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<div class="bottom"><table width="100%" border="1">
  <tr>
    <td width="2%" height="23" align="center" valign="middle">&nbsp;</td>
    <td width="96%" align="center" valign="middle">&nbsp;</td>
    <td width="2%" align="center" valign="middle">&nbsp;</td>
  </tr>
  <tr>
    <td height="65" colspan="3" align="center" valign="middle">© Công ty Cổ phần Thương mại Nguyễn Kim.<br />
Địa chỉ: 63-65-67 Trần Hưng Đạo, Q1, TP.HCM.<br />
Điện thoại: (84-8) 38 211 211 <br />
Fax: (84-8) 38 210 818.<br />
Email: <a href="mailto:info@trade.nguyenkim.com">info@trade.nguyenkim.com</a></td>
  </tr>
  <tr>
    <td height="25" colspan="3" align="center" bgcolor="#FFFF99"><strong>FacebBook - Twister</strong></td>
  </tr>
  <tr>
    <td colspan="3" align="center" bgcolor="#CCCCCC"> Copyright © 1999 - 2011 Nguyễn Kim JSC.<br />
      Số ĐKKD : 0302286281 Giấy phép số 14/GP-STTTT do Sở Thông Tin &amp; Truyền Thông cấp </td>
  </tr>
</table>
</div>
</body>
</html>
