<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
<table width="300" border="0">
  <tr>
    <td colspan="2" align="center"><strong>ĐĂNG NHẬP</strong></td>
  </tr>
  <tr>
    <td align="right"><label>Tài khoản: </label>&nbsp;</td>
    <td><label for="txttaikhoan"></label>
      <input type="text" name="txttaikhoan" id="txttaikhoan" /></td>
  </tr>
  <tr>
    <td align="right"><label>Mật khẩu: </label>&nbsp;</td>
    <td><label for="txtmatkhau"></label>
      <input type="text" name="txtmatkhau" id="txtmatkhau" /></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><input type="checkbox" name="nhotoi" id="nhotoi" />
      <label for="nhotoi">Nhớ tôi cho lần đăng nhập sau</label></td>
  </tr>
  <tr>
    <td align="right"><a href="dangki.jsp">Đăng kí?</a></td>
    <td align="center"><a href="quenmatkhau">Quên mật khẩu?</a></td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      <input type="submit" name="btndangnhap" id="btndangnhap" value="Đăng Nhập" />
      </td>
  </tr>
</table>
    </form>
</body>
</html>
