<html>
<head>
<title>15-Apr-11 10-27-59 PM</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (15-Apr-11 10-27-59 PM.png) -->
<table id="Table_01" width="1264" height="1488" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td rowspan="2">
		  <img src="images/15-Apr-11-10-27-59-PM_01.gif" width="136" height="138" alt=""></td>
		<td rowspan="6">
			<img src="images/15-Apr-11-10-27-59-PM_02.gif" width="4" height="1298" alt=""></td>
		<td colspan="2">
			<img src="images/header.gif" width="990" height="72" alt=""></td>
		<td rowspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="images/15-Apr-11-10-27-59-PM_05.gif" width="990" height="66" alt=""></td>
	</tr>
	<tr>
		<td rowspan="7">&nbsp;</td>
		<td>
			<img src="images/slideshow.gif" width="984" height="292" alt=""></td>
		<td rowspan="7">
			<img src="images/15-Apr-11-10-27-59-PM_08.gif" width="6" height="1350" alt=""></td>
		<td rowspan="7">&nbsp;</td>
	</tr>
	<tr>
		<td>
			<img src="images/danhmucHome.gif" width="984" height="294" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/sanphammoi.gif" width="984" height="286" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/khuyenmai.gif" width="984" height="288" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="images/buttom.gif" width="988" height="132" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="images/15-Apr-11-10-27-59-PM_14.gif" width="988" height="25" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>