@charset "utf-8";
/* CSS Document */

bodyp{
	background-color:#CCC;
	background-image:url(images/page_bg.gif);
}

.wrapperp
{
	background-color:#FFF;
	border-style:solid;
	border-color:#999;
	border-width:thin;
	margin:auto;
	width:1010px;
	}
	
.headerp{
	border-style:solid;
	border-color:#FFF;
	border-width:thin;
	height:auto;
	width:auto;	
	background-color:#FFF;
	}
	
.bodyp{
	border-style:solid;
	border-color:#FFF;
	border-width:thin;
	background-color:#FFF;
}

.bottomp{
	border-style:solid;
	border-color:#FFF;
	border-width:thin;	
	background-color:#FFF;
}

.topic_hotp{
  background-attachment:initial;
  background-clip:initial;
  background-color:initial;
  background-image:url(images/bg_hot.png);
  background-origin:initial;
  background-position:initial initial;
  background-repeat:no-repeat no-repeat;
  height:18px;
}

labelp{
	color:#FFF;
  	font:normal normal normal 11px/normal Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:bold;
}

.boxp
{
	margin: 8px 3px 8px 3px; 
	border:solid thin #CCC;
}

.sidebox-wrapperp {
  clear:both;
  margin-bottom:0;
  margin-top:0;
}

.sidebox-body-homep {
  border-top-color:#D9DBDD;
  border-top-style:solid;
  border-top-width:1px;
  margin-bottom:3px;
  margin-left:1px;
  margin-right:1px;
  margin-top:0;
}