<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="style.css" type="text/css" rel="stylesheet"/>
<title>Untitled Document</title>
</head>

<body>
<div class="home">
  <div class="wrapper">
    <div class="header"><table width="100%" border="0">
  <tr>
    <td colspan="10"><table width="100%" border="0">
      <tr>
        <td width="500px" height="84" rowspan="2">logo</td>
        <td width="10%" align="center"><label for="listngonngu"></label>
          <select name="listngonngu" id="listngonngu">
          <option>Vietnamese</option>
          <option>English</option>
          </select></td>
        <td width="10%" align="center" bgcolor="#FFFF66"><strong><a href="#">Giới Thiệu</a></strong></td>
        <td width="10%" align="center" bgcolor="#FFFF66"><strong><a href="#">Dịch Vụ</a></strong></td>
        <td width="10%" align="center" bgcolor="#FFFF66"><strong><a href="#">Trợ Giúp</a></strong></td>
        <td width="10%" align="center" bgcolor="#FFFF66"><strong><a href="#">Liên Hệ</a></strong></td>
        <td width="10%" align="center" bgcolor="#FFFF66"><strong>sđt nóng</strong></td>
      </tr>
      <tr>
        <td height="25" align="right"><strong>Chào bạn:</strong></td>
        <td height="25" align="center"><strong>Pisun2</strong></td>
        <td height="25" align="center" bgcolor="#FFFF66"><strong><a href="#">Đăng Nhập</a></strong></td>
        <td height="25" align="center" bgcolor="#FFFF66"><strong><a href="#">Đăng Kí</a></strong></td>
        <td height="25" align="center" bgcolor="#FFFF66"><strong><a href="#">Tin Tức</a></strong></td>
        <td height="25" align="center" bgcolor="#FFFF66"><strong><a href="#">Hỗ Trợ</a></strong></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center" valign="middle" bgcolor="#FFFF33"><strong><a href="trangchu">Trang Chủ</a></strong></td>
    <td align="center" valign="middle" bgcolor="#FFFF33"><strong><a href="trangchu">Điện Tử</a></strong></td>
    <td align="center" valign="middle" bgcolor="#FFFF33"><strong><a href="trangchu">Điện Lạnh</a></strong></td>
    <td align="center" valign="middle" bgcolor="#FFFF33"><strong><a href="trangchu">Gia Dụng</a></strong></td>
    <td align="center" valign="middle" bgcolor="#FFFF33"><strong><a href="trangchu">Tin Học</a></strong></td>
    <td align="center" valign="middle" bgcolor="#FFFF33"><strong><a href="trangchu">Điện Thoại</a></strong></td>
    <td align="center" valign="middle" bgcolor="#FFFF33"><strong><a href="trangchu">Giải Trí</a></strong></td>
    <td align="center" valign="middle" bgcolor="#FFFF33"><strong><a href="trangchu">DownLoad</a></strong></td>
    <td align="center" valign="middle" bgcolor="#FFFF33"><strong><a href="trangchu">Khuyến Mãi</a></strong></td>
  </tr>
  <tr>
    <td colspan="10"><table width="100%" border="0">
      <tr>
        <td width="25%"><label for="timkiemtheo"></label></td>
        <td width="19%" align="right"><label for="tukhoa">
          <select name="timkiemtheo" id="timkiemtheo">
          	<option>-Tất cả danh mục-</option>
            <option>Điện tử</option>
            <option>Điện lạnh</option>
            <option>Gia dụng</option>
          </select>
        </label></td>
        <td width="20%" align="center"><input type="text" name="tukhoa" id="tukhoa" /></td>
        <td width="10%" align="left"><input type="submit" name="btntim" id="btntim" value="Tìm Sản Phẩm" /></td>
        <td width="13%" align="center"><a href="giohang">Giỏ Hàng</a></td>
        <td width="13%" align="center"><a href="thanhtoan">Thanh Toán</a></td>
      </tr>
    </table></td>
  </tr>
</table>



</div>
    <div class="body">
    
    <table width="98%" border="0" cellspacing="4">
  <tr>
    <td height="292" colspan="4" align="center"><img src="images/slideshow.gif" width="984" height="292" alt="" /></td>
  </tr>
  <tr>
<table width="100%" border="1">
  <tr>
    <td height="294">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
  </tr>
  <tr>
    <td height="286" colspan="4" align="center" valign="top"><table width="100%" border="0">
      <tr>
        <td colspan="8"><label><strong>SẢN PHẨM MỚI</strong></label>&nbsp;</td>
        </tr>
      <tr>
        <td width="2%" height="253" rowspan="4">&nbsp;</td>
        <td width="16%" height="176" align="center" valign="top">&nbsp;</td>
        <td width="16%" align="center" valign="top">&nbsp;</td>
        <td width="16%" align="center" valign="top">&nbsp;</td>
        <td width="16%" align="center" valign="top">&nbsp;</td>
        <td width="16%" align="center" valign="top">&nbsp;</td>
        <td width="16%" align="center" valign="top">&nbsp;</td>
        <td width="2%" rowspan="4">&nbsp;</td>
      </tr>
      <tr>
        <td align="center">Máy giặt</td>
        <td width="16%" align="center">&nbsp;</td>
        <td width="16%" align="center">&nbsp;</td>
        <td width="16%" align="center">&nbsp;</td>
        <td width="16%" align="center">&nbsp;</td>
        <td width="16%" align="center">&nbsp;</td>
      </tr>
      <tr>
        <td align="center"> 3.200.000 VND </td>
        <td width="16%" align="center">&nbsp;</td>
        <td width="16%" align="center">&nbsp;</td>
        <td width="16%" align="center">&nbsp;</td>
        <td width="16%" align="center">&nbsp;</td>
        <td width="16%" align="center">&nbsp;</td>
      </tr>
      <tr>
        <td align="center"><a href="http://www.nguyenkim.com/may-giat-lg-wf-c6516t.html">Chọn quà tặng</a></td>
        <td width="16%" align="center">&nbsp;</td>
        <td width="16%" align="center">&nbsp;</td>
        <td width="16%" align="center">&nbsp;</td>
        <td width="16%" align="center">&nbsp;</td>
        <td width="16%" align="center">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="288" colspan="4"><table width="100%" border="1">
      <tr>
        <td colspan="8"><label><strong>SẢN PHẨM MỚI</strong></label>&nbsp;</td>
        </tr>
      <tr>
        <td width="2%" height="253" rowspan="4">&nbsp;</td>
        <td width="16%" height="176" align="center" valign="top">&nbsp;</td>
        <td width="16%" align="center" valign="top">&nbsp;</td>
        <td width="16%" align="center" valign="top">&nbsp;</td>
        <td width="16%" align="center" valign="top">&nbsp;</td>
        <td width="16%" align="center" valign="top">&nbsp;</td>
        <td width="16%" align="center" valign="top">&nbsp;</td>
        <td width="2%" rowspan="4">&nbsp;</td>
      </tr>
      <tr>
        <td align="center">Máy giặt</td>
        <td width="16%" align="center">&nbsp;</td>
        <td width="16%" align="center">&nbsp;</td>
        <td width="16%" align="center">&nbsp;</td>
        <td width="16%" align="center">&nbsp;</td>
        <td width="16%" align="center">&nbsp;</td>
      </tr>
      <tr>
        <td align="center"> 3.200.000 VND </td>
        <td width="16%" align="center">&nbsp;</td>
        <td width="16%" align="center">&nbsp;</td>
        <td width="16%" align="center">&nbsp;</td>
        <td width="16%" align="center">&nbsp;</td>
        <td width="16%" align="center">&nbsp;</td>
      </tr>
      <tr>
        <td align="center"><a href="http://www.nguyenkim.com/may-giat-lg-wf-c6516t.html">Chọn quà tặng</a></td>
        <td width="16%" align="center">&nbsp;</td>
        <td width="16%" align="center">&nbsp;</td>
        <td width="16%" align="center">&nbsp;</td>
        <td width="16%" align="center">&nbsp;</td>
        <td width="16%" align="center">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>

    </div>
    
    
    
    
    
    <div class="bottom"><table width="100%" border="0">
  <tr>
    <td width="2%" height="23" align="center" valign="middle">&nbsp;</td>
    <td width="96%" align="center" valign="middle">&nbsp;</td>
    <td width="2%" align="center" valign="middle">&nbsp;</td>
  </tr>
  <tr>
    <td height="65" colspan="3" align="center" valign="middle">© Công ty Cổ phần Thương mại Nguyễn Kim.<br />
Địa chỉ: 63-65-67 Trần Hưng Đạo, Q1, TP.HCM.<br />
Điện thoại: (84-8) 38 211 211 <br />
Fax: (84-8) 38 210 818.<br />
Email: <a href="mailto:info@trade.nguyenkim.com">info@trade.nguyenkim.com</a></td>
  </tr>
  <tr>
    <td height="25" colspan="3" align="center" bgcolor="#FFFF99"><strong>FacebBook - Twister</strong></td>
  </tr>
  <tr>
    <td colspan="3" align="center" bgcolor="#CCCCCC"> Copyright © 1999 - 2011 Nguyễn Kim JSC.<br />
      Số ĐKKD : 0302286281 Giấy phép số 14/GP-STTTT do Sở Thông Tin &amp; Truyền Thông cấp </td>
  </tr>
</table>
</div></div>
  </div>
</div>
</body>
</html>
